@import 'parameters';

.buttons{

  display:flex;
  justify-content: space-around;
  padding: 1em 0;
  position:fixed;
  bottom:0px;
  background-color: $background-color;
  z-index: 100;
  width: 100%;
  .home{
    color:$button-color;
  }
  .family{
    color:$button-color;
  }
  .chat{
    color:$button-color;
  }
}
